root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{cs,csproj,props,targets}]
indent_size = 2

[*.cs]
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_primary_constructors = false:suggestion
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_naming_rule.types_and_namespaces_are_pascal_case.severity = warning
dotnet_naming_rule.types_and_namespaces_are_pascal_case.symbols = types_and_namespaces
dotnet_naming_rule.types_and_namespaces_are_pascal_case.style = pascal_case
dotnet_naming_symbols.types_and_namespaces.applicable_kinds = namespace,class,struct,interface,enum,delegate
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_diagnostic.IDE0005.severity = warning

[**/Migrations/*.cs]
generated_code = true

[*.md]
trim_trailing_whitespace = false
